name: ${COMPOSE_PROJECT_NAME}

services:
  orekit:
    image: orekit:dev
    env_file:
      - .env
    build:
      context: ../../services/orekit
      dockerfile: ContainerFile
      args:
        DEPLOYMENT_ENVIRO: ${DEPLOYMENT_ENVIRO}
        HTTPS_PROXY: ${HTTPS_PROXY}
        HTTP_PROXY: ${HTTP_PROXY}
        NO_PROXY: ${NO_PROXY}
        MAVEN_HTTPS_PROXY: ${MAVEN_HTTPS_PROXY}

        IMAGE_URI: ${IMAGE_URI}

        OREKIT_BASE_DIR: ${OREKIT_BASE_DIR}
        OREKIT_USER: ${OREKIT_USER}
        OREKIT_GIT_URL: ${OREKIT_GIT_URL}
        OREKIT_GIT_COMMIT: ${OREKIT_GIT_COMMIT}

        HIPPARCHUS_GIT_URL: ${HIPPARCHUS_GIT_URL}
        HIPPARCHUS_GIT_COMMIT: ${HIPPARCHUS_GIT_COMMIT}

    attach: true
    container_name: orekit
    hostname: orekit
    working_dir: "${OREKIT_BASE_DIR}"
    command: '/entrypoint.sh'
    ports:
      - "127.0.0.1:30080:80"
    environment:
      DEPLOYMENT_ENVIRO: ${DEPLOYMENT_ENVIRO}
      HTTPS_PROXY: ${HTTPS_PROXY}
      HTTP_PROXY: ${HTTP_PROXY}
      NO_PROXY: ${NO_PROXY}
      MAVEN_HTTPS_PROXY: ${MAVEN_HTTPS_PROXY}
      GIT_URL: ${OREKIT_GIT_URL}
      GIT_COMMIT: ${OREKIT_GIT_COMMIT}
      GIT_FOLDER: ${OREKIT_GIT_FOLDER:-42}
      STARTUP_FOLDER: ${OREKIT_STARTUP_FOLDER}
      RECOMPILE: ${OREKIT_RECOMPILE:-false}
      BASE_DIR: ${OREKIT_BASE_DIR}
      VNC_PASSWORD: ${OREKIT_VNC_PASSWORD}
      PROJECT_NAME: ${PROJECT_NAME}

    networks:
      orekit:

networks:
  orekit:
    external: ${EXTERNAL_NETWORK_CORE:-false}
    name: orekit-network
